body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: black;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: orangered;
    /*text-decoration: underline;*/
}

.produtos {
    width: 940px;
    margin: 0px auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li img {
    margin-left: -3%;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active{
    border-color: #088c19;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 29px;
    transition: 0.3s;
}

.produto-descricao {
    font-size: 16px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos img:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.produtos li:hover .produto-preco {
    font-size: 26px;
    transition: 0.3s;
}

/*.produtos li:hover .produto-descricao {
    font-weight: bold;
}*/

.rodape {
    text-align: center;
    background: black;
    padding: 15px 0;
}

.logo-copyright {
    width: 85px ;
    height: 125px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 3px;
}

/*main {

}*/

form {
    position: relative;
    width: 940px;
    margin: 40px auto;
}

form label, 
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

fieldset legend {
    margin-top: 25px;
}

fieldset label {
    font-size: 18px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 5px 15px;
    width: 50%;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orangered;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.3s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: red ;
    transform: scale(1.05);
}

table {
    margin: 40px 205px ;
}

thead {
    background: orangered;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/*CSS DA Pﾃ；INA INICIAL*/

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
    font-weight: bold;
}

/*.titulo-principal:first-letter {
    font-weight: bold;
}

.titulo-principal:before{
    content: "[ ";
}

.titulo-principal:after{
    content: " ]";
}*/

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 1px black;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 2px black;
}

.mapa {
    padding: 3em 0;
    background:#FEFEFE;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888, black);
}

.conteudo-beneficios {
    width: 640px;
    margin: auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "沺"
}

.itens:nth-child(1) {
    font-weight: bold;
}

.img-beneficios {
    width: 60%;
    box-shadow: 0px 0px 20px 3px black;
}

.img-beneficios:hover {
    opacity: 80%;
    transition: 400ms;

}

.video {
    width: 560px;
    margin: 3em auto;
    box-shadow: 0px 0px 20px 3px black;
}

/*
SOMENTE FILHOS DIRETOS DO MAIN
main > p {
    background: red;
}*/

/*PRIMEIRO IRMﾃグ DEPOIS DE UM ELEMENTO 
img + p {
    background: blue;
}*/

/*TODOS OS IRMﾃグS SEMELHANTES DEPOIS DE UM ELEMENTO
img ~ p {
    background: yellow;
}*/

/*TODOS OS ELEMENTOS QUE Nﾃグ Sﾃグ EXCLUSIVOS (ID, CLASS)
.principal p:not(#missao) {
    background: orangered;
}*/

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, 
    .mapa-conteudo, .video, .produtos,
    form {
        width: auto;
    }
    
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    nav ul {
        display: flex;
            justify-content: center;
    }

    nav a{
        font-size: 20px;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }


    /* PRODUTOS */
    .produtos li {
        display: block;
        text-align: center;
        width: auto;
        margin-bottom: 20%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 15px 10px;
        box-sizing: border-box;

    }

    /* CONTATO */
    
    
    form fieldset {
        margin-bottom: 7%;
    }

    form label, 
    form legend {
        font-size: 18px;
        margin: 0 0 20px;
    }

    fieldset label {
        font-size: 15px;
    }

    table {
        margin: 40px 0;
    }
    
    .input-padrao {
        margin-bottom: 20px;
        padding: 5px 15px;
    }
    
    .enviar {
        padding: 15px 0;
        font-size: 18px;
    }

}
